<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Interfaz API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Interfaz para operaciones CRUD</h1>
        
        <!-- Crear Formulario -->
        <div class="form-section">
            <h2>Crear Elemento</h2>
            <form id="crearElementoForm">
                <label for="coleccion">Seleccionar Colección:</label>
                <select id="coleccion" name="coleccion">
                    <option value="Usuarios">Usuario</option>
                    <option value="Restaurantes">Restaurante</option>
                    <option value="Articulos_Menu">Artículo de Menú</option>
                    <option value="Ordenes">Orden</option>
                    <option value="Resenas">Reseña</option>
                </select>
                <div id="form-crear"></div>
                <button type="submit">Crear</button>
            </form>
        </div>

        <!-- Consultar Formulario -->
        <div class="form-section">
            <h2>Consultar Elemento</h2>
            <form id="consultarElementoForm">
                <label for="coleccionConsulta">Seleccionar Colección:</label>
                <select id="coleccionConsulta" name="coleccionConsulta">
                    <option value="Usuarios">Usuario</option>
                    <option value="Restaurantes">Restaurante</option>
                    <option value="Articulos_Menu">Artículo de Menú</option>
                    <option value="Ordenes">Orden</option>
                    <option value="Resenas">Reseña</option>
                </select>
                <div id="form-consultar"></div>
                <button type="submit">Consultar</button>
            </form>
            <div id="resultados"></div>
        </div>

        <!-- Actualizar Formulario -->
        <div class="form-section">
            <h2>Actualizar Elemento</h2>
            <form id="actualizarElementoForm">
                <label for="coleccionActualizar">Seleccionar Colección:</label>
                <select id="coleccionActualizar" name="coleccionActualizar">
                    <option value="Usuarios">Usuario</option>
                    <option value="Restaurantes">Restaurante</option>
                    <option value="Articulos_Menu">Artículo de Menú</option>
                    <option value="Ordenes">Orden</option>
                    <option value="Resenas">Reseña</option>
                </select>
                <div id="form-actualizar"></div>
                <button type="submit">Actualizar</button>
            </form>
        </div>

        <!-- Eliminar Formulario -->
        <div class="form-section">
            <h2>Eliminar Elemento</h2>
            <form id="eliminarElementoForm">
                <label for="coleccionEliminar">Seleccionar Colección:</label>
                <select id="coleccionEliminar" name="coleccionEliminar">
                    <option value="Usuarios">Usuario</option>
                    <option value="Restaurantes">Restaurante</option>
                    <option value="Articulos_Menu">Artículo de Menú</option>
                    <option value="Ordenes">Orden</option>
                    <option value="Resenas">Reseña</option>
                </select>
                <div id="form-eliminar"></div>
                <button type="submit">Eliminar</button>
            </form>
        </div>

        <!-- Funcion 1 -->
        <!-- Mostrar Reseñas -->
        <div class="form-section">
            <h2>Mostrar Reseñas de Restaurante</h2>
            <form id="mostrarResenasForm">
                <label for="nombreRestaurante">Nombre del Restaurante:</label>
                <input type="text" id="nombreRestaurante" name="nombreRestaurante" required>

                <label for="orden">Orden:</label>
                <select id="orden" name="orden">
                    <option value="desc">Mayor a menor</option>
                    <option value="asc">Menor a mayor</option>
                </select>

                <button type="submit">Ver Reseñas</button>
            </form>
            <div id="resultadoResenas"></div>
        </div>
        <!-- Funcion 1 -->


    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
